<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pasters</key>
	<array>
		<dict>
			<key>X</key>
			<integer>150</integer>
			<key>Y</key>
			<integer>161</integer>
			<key>Width</key>
			<integer>288</integer>
			<key>Height</key>
			<integer>210</integer>
			<key>FileName</key>
			<string>PasterTemplate1.png</string>
		</dict>
		<dict>
			<key>X</key>
			<integer>333</integer>
			<key>Y</key>
			<integer>363</integer>
			<key>Width</key>
			<integer>288</integer>
			<key>Height</key>
			<integer>210</integer>
			<key>FileName</key>
			<string>PasterTemplate2.png</string>
		</dict>
		<dict>
			<key>X</key>
			<integer>564</integer>
			<key>Y</key>
			<integer>383</integer>
			<key>Width</key>
			<integer>288</integer>
			<key>Height</key>
			<integer>210</integer>
			<key>FileName</key>
			<string>PasterTemplate3.png</string>
		</dict>
	</array>
	<key>GeoPasters</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>0</integer>
			<key>Color</key>
			<integer>1</integer>
			<key>FileName</key>
			<string>CreatedTrianglePaster.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Color</key>
			<integer>12</integer>
			<key>FileName</key>
			<string>CreatedTrapeziumPaster.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>2</integer>
			<key>Color</key>
			<integer>13</integer>
			<key>FileName</key>
			<string>CreatedEllipsePaster.png</string>
		</dict>
	</array>
	<key>GeoPasterModels</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>0</integer>
			<key>Color</key>
			<integer>1</integer>
			<key>FileName</key>
			<string>TrianglePasterModel.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Color</key>
			<integer>12</integer>
			<key>FileName</key>
			<string>TrapeziumPasterModel.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>2</integer>
			<key>Color</key>
			<integer>13</integer>
			<key>FileName</key>
			<string>EllipsePasterModel.png</string>
		</dict>
	</array>
	<key>SpecificPosition</key>
	<dict>
		<key>GeoModel</key>
		<dict>
			<key>StartX</key>
			<integer>3</integer>
			<key>StartY</key>
			<integer>3</integer>
			<key>GapLength</key>
			<integer>29</integer>
			<key>Width</key>
			<integer>85</integer>
			<key>Height</key>
			<integer>85</integer>
		</dict>
		<key>GeoPaster</key>
		<dict>
			<key>StartX</key>
			<integer>117</integer>
			<key>StartY</key>
			<integer>3</integer>
			<key>GapLength</key>
			<integer>29</integer>
			<key>Width</key>
			<integer>85</integer>
			<key>Height</key>
			<integer>85</integer>
		</dict>
	</dict>
</dict>
</plist>
